* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

body {
  height: 100%;
}

header {
  background: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
}

#headerID {
  transition: background 0.5s ease-in;
}

.logoBoks {
  width: 30em;
  height: 10em;
  display: flex;
  align-items: center;
  margin-left: 3em
}

#logoBoksID {
  transition: 0.4s ease-in;
}

.logo {
  padding: 1em;
  width: 100%;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-weight: 700;
  font-style: italic;
  font-family: shackleton, sans-serif;
  font-size: 1.5em;
}

header nav {
  width: 100%;
  margin-right: 3em;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

nav li {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 1em;
  font-family: 'Karla', sans-serif;
  position: relative;
}

nav li a:hover {
  color: #000;
}

nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* midtstilt side osv */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainContainer {
  margin-top: 10em;
  width: 100%;
}

/*SLIDESHOW SLIDESHOW SLIDESHOW*/

.containerSlideshow {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
}

.slideshow {
  margin: 0;
  max-width: 90%;
}

.slideshow div {
  display: flex;
}

.slideshow div img {
  width: 100%;
}

.slideshowTextBox {
  background-color: #333333;
  padding: 5px;
  width: 10em;
  display: flex;
  justify-content: center;
}

.slideshowTextBox p, .slideshowTextBox p a {
  color: white;
}

.prev {
  font-size: 30px;
  color: #333333;
}

.prev:hover {
  cursor: pointer;
  color: black;
}

.next {
  font-size: 30px;
  color: #333333;
}

.next:hover {
  cursor: pointer;
  color: black;
}

/* Under slideshow greiene på indexsiden */

.boks1 {
  width: 100%;
  height: 1000px;
  background-color: grey;
}

/* Kameraersiden */

.mainContainer h1 {
  font-family: shackleton-wide, sans-serif;
}
